@import url('./reset.css');

:root {
  --base-font-size: 16px;
  --base-font-family: Lato, Helvetica, Arial, sans-serif;
  --page-padding: 1.5rem;
  --brandsite-max-width: 75rem;
  --page-max-width: 48rem;
}

body {
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
}
